body {
    background-color: whitesmoke;
    line-height: 1.5;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
  }
  
  .container {
    max-width: 600px;
    margin: 0 auto;
    padding: 50px;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
  }
  
  h1 {
    text-align: center;
    color: WHITE;
    margin-bottom: 30px;
  }

  header {
    background-color: #24292e;
    padding: 20px;
    margin-bottom: 50px;
    color: #fff;
  }
  
  .form-control {
    border-color: #24292e;
    
  }
  
  .btn-primary {
    background-color: #24292e;
    border-color: #24292e;
  }
  
  .btn-primary:hover{
    background-color: black;
  }
  .list-group-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-color: #dee2e6;
    transition: background-color 0.2s ease;
  }
  
  .list-group-item:hover {
    background-color: #f8f9fa;
  }
  
  .list-group-item .btn {
    margin-left: 5px;
  }
  
  .completed {
    text-decoration: line-through;
    color: #6c757d;
  }
  
  @media (max-width: 576px) {
    .container {
      padding: 10px;
    }
  }

  .list-group-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-color: #dee2e6;
    transition: background-color 0.2s ease;
  }
  
  .list-group-item .btn {
    margin-right: 5px;
  }
  
  .completed {
    text-decoration: line-through;
    color: #6c757d;
  }
  
  .list-group-item .btn-group {
    display: flex;
    align-items: right;
  }

  .completed-task{
    text-decoration: underline;
  }
  
  *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  .container2{
    
    background-color: #24292e;
    margin: auto;
  }
  ul{
    list-style: none;
  }

  .footer{
    background-color: 24292e;
    padding: 80px 0;
  }
  .footer-col{
    width: 25%;
    padding: 10px 20px;
    margin-left: 300px;
  }
  .footer-col h4{
    font-size: 18px;
    color: #ffffff;
    text-transform: capitalize;
    margin-bottom: 30px;
    font-weight: 500;
    position: relative;
  }
  .footer-col ul li:not(:last-child){
    margin-bottom: 10px;
  }
  .footer-col ul li a {
    font-size: 16px;
    text-transform: capitalize;
    color: white;
    text-decoration: none;
    font-weight: 300;
    color: #bbbbbb;
    display: block;
    transition: all 0.3s ease;
  }
  .footer-col ul li a:hover{
    color: white;
    padding-left: 8px;
  }